@use '../../styles/variables.scss' as var;

.quote {
  min-height: 500px;
  background:
    linear-gradient(180deg, rgba(9, 18, 66, 0.4) 0%, #091242 89.5%),
    url(https://s3-alpha-sig.figma.com/img/a92b/8445/cf8af4565bf33d8fce7eb23fe7f3b10c?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=KSwBog1R1D6Se4KVNnbX7irmWCEEOIkicPyR3c8Ia-IHPMp0g5PqMWfbPXmafFjHFF5kGy9GFp3UPHLAJs~NhmnFAUOfLe9I5UDSw~YzcwyxKkhkhkrZPMAg6UAIzuBMlYeznyLnOyOybyQiDmm3Mrylb0W-Dwemer0SDoPT65G-DVPlJiUXb2UD-hohjSpkDBYZUbJG1hPdZwTlexEG8d2zD9rLnryKCS5xOH0K9nyNqKDRSsY7Odcn94OivVG1vHorsT-adVsxHwvn6wgmR9ZO7760qTbSmPzs0SYyFUOkTvB~4SoNpK2zUwPUeNWjQkBFxiqb2qgeWvIlfFgccA__);
  background-position: 45% 30%;
  background-size: 450%;

  padding: 87px 16px;
  color: white;

  @media (min-width: 769px) {
    padding: 170px 16px 210px;
  }
}

.quote__text {
  font-family: var.$font-family-title;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  @apply lg:max-w-6xl lg:mx-auto;
  @apply lg:text-3xl lg:font-medium;
}

.quote__sub {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  transform: skew(-10deg);

  margin-top: 24px;
  @apply lg:max-w-6xl lg:mx-auto;
  @apply lg:text-lg;
}
