@use '../../styles/variables.scss' as var;

.servicio-calidad {
  // min-height: 642px;
  background-color: var.$main-lightgray;
  @apply lg:bg-transparent;

  @media (min-width: #{var.$breakpoint-lg}) {
    position: relative;
    background-image:
      linear-gradient(180deg, rgba(9, 18, 66, 0) 0%, #091242 100%),
      url(../../assets/Home/servicioCalidadBg.jpg);

    background-size: cover;
    background-position: bottom;

    margin-bottom: 300px;
  }

  &__container {
    @apply mx-4 pb-24 py-14;
    @apply md:mx-8 md:py-16 md:pb-14;
    @apply lg:flex lg:flex-row-reverse lg:gap-12 lg:min-h-[600px] lg:max-w-xl-content lg:py-14 xl:min-h-[680px];
    @apply 2xl:mx-auto;

    @apply lg:bg-bg-lightgray;
    @apply lg:px-14;

    @media (min-width: #{var.$breakpoint-lg}) {
      top: 300px;
      position: relative;
    }
  }

  &__title_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @apply mx-4 pb-8;
    @apply md:mx-8;
    @apply lg:mx-0;
  }

  &__title {
    font-family: var.$font-family-title;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var.$main-orange;
    @apply lg:text-4xl;
  }

  &__description {
    font-family: var.$font-family-base;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var.$main-gray;
    @apply lg:text-xl;
  }

  &__items {
    margin: 0 16px 24px 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    @apply md:mx-8;
    @apply lg:mx-0;
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var.$main-gray;
    font-family: var.$font-family-base;
    @apply lg:text-xl;

    img {
      margin-right: 16px;
    }
  }

  &__image-container {
    min-height: 250px;
    // max-height: 500px;
    margin: 24px 16px 0 16px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @apply grid grid-cols-4;
    @apply md:mx-0;
    @apply lg:flex-1 lg:my-0;
  }

  &__image-1 {
    background-color: var.$main-gray;
    aspect-ratio: 1/1;
    @apply col-span-3 md:aspect-3/2;
    @apply lg:aspect-1/1 lg:w-[100%];
    @apply xl:w-[92%];
  }

  &__image-2 {
    background-color: var.$main-gray;
    aspect-ratio: 211/212;
    min-width: 212px;
    width: 60%;
    @apply col-span-2 absolute right-0 -bottom-10;
    @apply md:bottom-0 md:w-[67%] md:aspect-3/2;
    @apply lg:aspect-1/1 lg:-bottom-0 lg:w-[70%];
    @apply xl:w-[62.5%];
  }
}
