// Color Palette
$main-blue: #091242;
$main-orange: #ff7a00;
$main-white: #fff;
$main-black: #091242;
$main-gray: #6b718e;
$main-lightgray: #f7f7f9;
$secondary-blue: #1c1f35;
$light-bg: #3a4168;
$main-lightorange: #fff7f0;

$primary-color: $main-blue;
$secondary-color: $main-orange;
$light-color: $main-white;
$dark-color: $main-black;

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-title: 'Roboto Slab', serif;

// Font Sizes
$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.25rem;

// Other Styles
$border-radius: 0.25rem;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* stylelint-disable-next-line at-rule-no-unknown */
@reference "../../index.css";

