// Color Palette
$main-blue: #091242;
$main-orange: #FF7A00;
$main-white: #FFF;
$main-black: #091242;

$primary-color: $main-blue;
$secondary-color: $main-orange;
$light-color: $main-white;
$dark-color: $main-black;

// Font Sizes
$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.25rem;

// Other Styles
$border-radius: 0.25rem;