@use '../../styles/variables.scss' as var;
.contacto__container {
    padding-bottom: 56px !important;
    @apply mx-4 py-22 min-h-auto;
    @apply md:mx-8 lg:!pb-0;
    @apply 2xl:mx-auto lg:pt-24 lg:flex lg:flex-col lg:items-center pb-0;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    @apply lg:pb-14;
    @apply xl:bg-[#FAFBFD] xl:flex-row xl:w-full xl:justify-center xl:py-48;

    &__1 {
        display: none;
        @apply xl:block;
    }

    &__2 {
        @apply xl:pl-18 xl:flex xl:justify-center xl:flex-col;
    }

    img {
        @apply xl:max-w-162;
    }
}

.address, .phone, .email {
    display: flex;
    height: 60px;

    img {
        margin-right: 8px;
    }

    a {
        font-weight: 400;
    }
}

.title {
    color: var.$main-blue;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-inline: 20px;
    width: 100%;

    @apply xl:text-4xl xl:text-center xl:px-[20%] xl:col-span-8 xl:mb-9 xl:max-w-xl-content;
}

.desc {
    color: var.$main-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    margin-inline: 20px;
    width: 100%;

    @apply xl:text-center xl:px-[20%] xl:col-span-8 xl:mb-14 xl:max-w-xl-content;
}

.address {
    display: flex;
    align-items: center;
    color: var.$main-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.phone {
    display: flex;
    align-items: center;
    color: var.$main-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.email {
    display: flex;
    align-items: center;
    color: var.$main-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}