@use '../../styles/variables.scss' as var;

.areasEspecialidad {
  @apply mx-4 py-14 min-h-auto;
  @apply md:mx-8;
  @apply lg:max-w-xl-content 2xl:mx-auto lg:pt-30 lg:pb-50;
}

.title {
  font-family: var.$font-family-title;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var.$main-orange;
  @apply lg:text-4xl;

  &--accent {
    color: var.$main-blue;
  }
}

.container {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.description {
  font-family: var.$font-family-base;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var.$main-gray;
  @apply max-w-3xl lg:text-lg;
}

.item {
  background-image:
    linear-gradient(to top, var.$main-blue 20%, rgba(255, 255, 255, 0) 50%),
    url('../../assets/Home/areaEspecialidadImg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 240px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @apply md:mx-0;
  @apply lg:min-h-[450px];
}

.items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @apply md:grid md:grid-cols-2 md:gap-6;
  @apply lg:grid-cols-4;
}

.itemDescription {
  color: var.$main-white;
  font-family: var.$font-family-base;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding: 16px;

  @apply lg:text-[20px];
}
