@use '../../styles/variables.scss' as var;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 101;
  background-color: var.$main-blue;
  @media (min-width: #{var.$breakpoint-xl}) {
    @apply h-35 p-0;
  }
}

.header__container {
  height: 100%;
  color: var.$main-white;
  font-family: var.$font-family-base;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$main-blue;
  padding: 16px;

  @media (min-width: #{var.$breakpoint-md}) {
    padding: 0;
    @apply px-8;
  }
  @media (min-width: #{var.$breakpoint-lg}) {
    background-color: transparent;
    @apply max-w-xl-content 2xl:mx-auto;
  }
}

.logo {
  display: flex;
  gap: 1rem;
  padding-block: 2rem;
  flex: 1;
  // min-width: 300px;
  @apply h-fit;
  @apply lg:py-0;

  .span {
    max-width: 100px !important;
  }
  
  img, span {
    background-color: var.$main-blue;
    flex: 1;
    max-width: 160px !important;
    height: 32px;
    object-position: left;
    object-fit: contain;

    @apply h-8;

    @apply xl:h-18;
  }

  .divider {
    width: 2px;
    background-color: white;

    display: none;

    @apply xl:flex;
  }

  span {
    flex: 1;
    max-width: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    font-family: var.$font-family-title;
    display: none;
    @apply xl:flex;
  }
}

.rightSection {
  display: flex;
  gap: 16px;

  @media (min-width: #{var.$breakpoint-lg}) {
    @apply h-full;
    @apply flex-row-reverse;
  }
}

.mobileHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  // img {
  //   width: 71.05px;
  //   height: 32px;
  // }
}

.mobileLogo {
  width: 72px;
  height: 32px;
}

.desktopLogo {
  display: none;
}

@media (min-width: #{var.$breakpoint-md}) {
  .mobileLogo {
    display: none;
  }
  .desktopLogo {
    display: block;
    width: 450px;
    height: auto;
  }
}

@media (min-width: #{var.$breakpoint-xl}) {
  .desktopLogo {
    object-fit: cover;
    object-position: left;

    display: block;
    width: auto;
    height: 72px;
  }
}

.languageButtonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  button {
    background: none;
    border: none;
    color: var.$main-white;
    cursor: pointer;
    transition: opacity .5s;

    @apply text-[16px];

    &:hover {
      opacity: 0.5;
    }

    &.activeLanguage {
      color: var.$main-orange;
    }
  }

  .separator {
    color: var.$main-white;
  }
}

.h1 {
  font-size: var.$font-size-lg;
  margin: 0;
  font-family: var.$font-family-title;
}

.menuButton {
  background: none;
  border: none;
  color: var.$main-white;
  cursor: pointer;
  display: block;
  z-index: 2;

  &:hover {
    opacity: 0.8;
  }

  @media (min-width: #{var.$breakpoint-xl}) {
    display: none;
  }
}

.nav {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: var.$main-blue;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-200%);
  transition: transform 1s ease;
  display: flex;
  pointer-events: none;
  overflow: hidden;
  gap: 8px;
  z-index: -1;
  padding-bottom: 16px;
  a {
    color: var.$main-white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;

    &:hover, &.active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &.active {
    transform: translateY(0);
    pointer-events: all;
  }

  @media (min-width: #{var.$breakpoint-xl}) {
    position: static;
    transform: none;
    padding: 0;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
    box-shadow: none;
    pointer-events: all;
    overflow: visible;
    z-index: 1;

    a {
      width: auto;
      padding: 0;
      text-align: left;

      &:hover {
        background-color: transparent;
        opacity: 0.8;
      }
    }
  }

  @media (min-width: #{var.$breakpoint-xl}) {
    @apply h-full gap-0;

    a {
      @apply flex justify-center items-center px-6 font-semibold;
      @apply hover:bg-white/10;
    }
  }
}


