@use '../../styles/variables.scss' as var;

.section {
  overflow: hidden;

  &--blue {
    background-color: var.$main-lightgray;
  }
  &--orange {
    background-color: var.$main-lightorange;
  }
}
.section__container {
  @apply mx-4 pb-14 py-14;
  @apply md:mx-8 md:py-16 md:pb-14;
  @apply xl:flex xl:gap-16 xl:min-h-[680px] xl:max-w-xl-content xl:py-14;
  @apply 2xl:mx-auto;

  &--blue {
    .content {
      order: 2;
    }

    .image {
      order: 1;
      transform: translateX(-40%);

      &--1 {
        z-index: -1;
        aspect-ratio: 1;
        object-fit: cover;
        width: 65%;
        position: absolute;

        bottom: -20px;
        right: 0;

        @media (min-width: #{var.$breakpoint-md}) {
          width: 62%;
          @apply bottom-0 -right-0;
        }
        @media (min-width: #{var.$breakpoint-xl}) {
          width: 85%;
          right: -30%;
          @apply bottom-10;
        }
        @media (min-width: #{var.$breakpoint-xxl}) {
          width: 85%;
          right: -40%;
          @apply bottom-10;
        }
      }

      &--2 {
        z-index: -2;
        aspect-ratio: 1;
        object-fit: cover;
        width: 70%;
        left: 0;

        @media (min-width: #{var.$breakpoint-xl}) {
          width: 92%;
        }
      }
    }

    .bgBox {
      order: 1;
      position: relative;
      display: flex;
      justify-content: center;

      &--1 {
      }

      &--bg {
        height: calc(100% + 2 * var(--spacing, 0.25rem) * 14);
        top: -56px;
        width: 50vw;
        left: auto;
        position: absolute;
        right: 128px;
      }
    }
  }
}

.content {
  flex: 1;
  @apply xl:my-20;
}

.title {
  font-family: var.$font-family-title;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: var.$main-orange;

  @apply mb-6;
  @apply xl:text-4xl;

  &--accent {
    color: var.$main-blue;
    @apply xl:block;
  }

  &--orange {
    span {
      color: var.$main-orange !important;
    }
  }
}

.text {
  line-height: 1.15;
  letter-spacing: 0px;
  color: var.$main-gray;

  p {
    margin-bottom: 1.5rem;
    @apply xl:text-xl;
  }
}

.image {
  position: relative;
  flex: 1;

  &--1 {
    aspect-ratio: 1;
    object-fit: cover;
    width: 70%;
    height: fit-content;
    @media (min-width: #{var.$breakpoint-xl}) {
      width: 92%;
    }
  }

  &--2 {
    aspect-ratio: 1;
    object-fit: cover;
    width: 65%;
    position: absolute;

    bottom: -20px;
    right: 0;

    @media (min-width: #{var.$breakpoint-md}) {
      width: 62%;
      @apply bottom-0 -right-10;
    }
    @media (min-width: #{var.$breakpoint-xl}) {
      width: 85%;
      right: -30%;
      @apply bottom-10;
    }
    @media (min-width: #{var.$breakpoint-xxl}) {
      width: 85%;
      right: -40%;
      @apply bottom-10;
    }
  }
}

.bgBox {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;

  &--1 {
    z-index: 1;
    position: relative;
    height: 200px;
    width: 100%;
    object-fit: cover;

    @media (min-width: #{var.$breakpoint-md}) {
      height: 300px;
    }
    @media (min-width: #{var.$breakpoint-xl}) {
      height: fit-content;
    }
  }

  &--bg {
    height: calc(100% + 2 * var(--spacing, 0.25rem) * 14);
    top: -56px;
    width: 50vw;
    left: auto;
    position: absolute;
    left: 128px;
    display: none;

    @media (min-width: #{var.$breakpoint-xl}) {
      display: block;
    }

    &--blue {
      background-color: var.$main-blue;
    }

    &--orange {
      background-color: var.$main-orange;
      // z-index: -1;
    }
  }
}
