@import 'tailwindcss';
@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --max-width-xl-content: 1416px;

  --color-bg-lightgray: #f5f5f5;
  --color-main-lightgray: #6b718e;
  --color-main-blue: #091242;
}
@layer base {
  :root {
    --tw-color-primary: theme('colors.blue.500');
    --tw-color-secondary: theme('colors.gray.700');
    --tw-color-main-lightgray: theme(--color-main-lightgray);
    --tw-color-bg-lightgray: theme(--color-bg-lightgray);
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('./src/assets/fonts/roboto/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./src/assets/fonts/roboto/roboto-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('./src/assets/fonts/roboto-slab/roboto-slab-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('./src/assets/fonts/roboto-slab/roboto-slab-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #6b718e;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    background-color: #f9f9f9;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::after {
  content: '';
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #ff7a00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.nav-tabs .nav-link {
  padding: 16px;
  border-color: transparent !important;
  transition: opacity .5s, border .5s;
}

@media screen and (min-width: 992px) {
  .nav-tabs .nav-link {
    padding: 26px 32px;
  }
  .nav-tabs .nav-link {
    margin-right: 24px;
  }
}

li.nav-item:last-child .nav-link {
  margin-right: 0;
}

.nav-tabs .nav-link:hover {
  border-bottom: 1px solid #ff7a00 !important;
}

.nav-tabs .nav-link.active {
  padding-bottom: 16px;
  color: #ff7a00;
  border-bottom: 1px solid #ff7a00 !important;

  span {
      color: #ff7a00
  }
}

.not-found {
  margin: 126px 0 60px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .nav-tabs .nav-link.active {
    padding-bottom: 24px;
  }

  .not-found {
    margin: 116px 0 60px;
  }
}

@media screen and (min-width: 1200px) {
  .not-found {
    margin: 200px 0 60px;
  }
}
