@import 'tailwindcss';
@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --max-width-xl-content: 1416px;

  --color-bg-lightgray: #f5f5f5;
  --color-main-lightgray: #6b718e;
  --color-main-blue: #091242;
}
@layer base {
  :root {
    --tw-color-primary: theme('colors.blue.500');
    --tw-color-secondary: theme('colors.gray.700');
    --tw-color-main-lightgray: theme(--color-main-lightgray);
    --tw-color-bg-lightgray: theme(--color-bg-lightgray);
  }
}

.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #6b718e;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    background-color: #f9f9f9;
  }
}


.nav-tabs .nav-link {
  padding: 16px;
  border-color: transparent !important;
  transition: opacity .5s, border .5s;
}

@media screen and (min-width: 992px) {
  .nav-tabs .nav-link {
    padding: 24px 32px;
  }
  .nav-tabs .nav-link {
    margin-right: 24px;
  }
}

li.nav-item:last-child .nav-link {
  margin-right: 0;
}

.nav-tabs .nav-link:hover {
  border-bottom: 1px solid #ff7a00 !important;
}

.nav-tabs .nav-link.active {
  padding-bottom: 16px;
  color: #ff7a00;
  border-bottom: 1px solid #ff7a00 !important;

  span {
      color: #ff7a00
  }
}

.not-found {
  margin: 126px 0 60px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .nav-tabs .nav-link.active {
    padding-bottom: 24px;
  }

  .not-found {
    margin: 116px 0 60px;
  }
}

@media screen and (min-width: 1200px) {
  .not-found {
    margin: 200px 0 60px;
  }
}

