@use "../../styles/variables.scss" as var;

.slider {
  width: 100%;
  margin: 0 auto;
}

.slide {
  padding: 20px;
  text-align: center;
  font-size: var.$font-size-base;
  background-color: var.$light-color;
}